body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #555;
}

p, ul {
    font-size: 16px;
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #fefefe;
    text-decoration: none;
    transition: color 0.3s ease;

}

a:hover {
    color: #0056b3;
}


.header {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}
