body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: larger;
    color: white;
    margin: 0;
    padding: 0;
    position: relative; /* Added to ensure the absolute positioning of .header works */
}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.for {
    padding: 5px;
    width: 100%;
    max-width: 400px;
}
