body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: larger;
    color: white;
}


.for {
    padding: 5px;
    width: 100%;
    max-width: 400px;

}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: larger;
    color: white;
}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    body {
        font-size: medium; /* Adjust font size for medium screens */
    }
}

@media (max-width: 480px) {
    body {
        font-size: medium; /* Adjust font size for small screens */
    }
    .header {
        top: 10px;
        right: 10px;
    }
    .profile-container {
        padding: 10px; /* Adjust padding for smaller screens */
        text-align: center; /* Center text for better readability */
    }
}
